body {
    background-image: url('./components/img/2ce85a4b37f62a61d11f9851cb705cf5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}